{{- $is_ultrawide := promptBoolOnce . "is_ultrawide" "Do you want to configure for Ultrawide monitor setup? (for Windows-based window manager)" false -}}

[data]
    is_ultrawide = {{ $is_ultrawide }}
