{{- $is_ultrawide := promptBoolOnce . "is_ultrawide" "Do you want to configure for Ultrawide monitor setup? (for Windows-based window manager)" false -}}

# Hostname override
{{ $promptMsg := printf "Do you want to override the hostname? (leave blank to use %s)" .chezmoi.hostname }}
{{ $hostname_override := promptStringOnce . "hostname_override" $promptMsg "" }}

[data]
    is_ultrawide = {{ $is_ultrawide }}
    hostname_override = {{ $hostname_override | quote }}
