-- Pull in the wezterm API
local wezterm = require 'wezterm'

-- This will hold the configuration.
local config = wezterm.config_builder()

-- This is where you actually apply your config choices

-- Default shell
{{- if eq .chezmoi.os "windows" }}
config.default_prog = { "pwsh" }
{{- else }}
config.default_prog = { "zsh" }
{{- end }}

-- Font & Colors
config.color_scheme = "Catppuccin Mocha" -- or Macchiato, Frappe, Latte
config.font = wezterm.font_with_fallback({
	"Cascadia Code NF",
	"Hiragino Maru Gothic ProN",
})
{{- if eq .chezmoi.os "darwin" }}
-- Larger font size on macOS
config.font_size = 18
{{- else }}
config.font_size = 10
{{- end }}
-- Window
config.hide_tab_bar_if_only_one_tab = true
config.use_fancy_tab_bar = false
-- Don't resize window when changing font size
config.adjust_window_size_when_changing_font_size = false

-- Merge native UI buttons with the tab bar
config.window_decorations = "INTEGRATED_BUTTONS|RESIZE"

config.keys = {
	{{- if eq .chezmoi.os "darwin" }}
	-- on macOS, use Cmd+Shift+P to activate command pallete (default Ctrl+Shift+P)
	{
		key = "p",
		mods = "CMD|SHIFT",
		action = wezterm.action.ActivateCommandPalette,
	},
	{{- end }}

	{{- if eq .chezmoi.os "windows" }}
	{
		key = 'F11',
		action = wezterm.action.ToggleFullScreen
	}
	{{- end }}
}

-- and finally, return the configuration to wezterm
return config
